.left-header {
  position: sticky;
  top: 0;
  height: 100vh;
  background: linear-gradient(270deg, #b100fc, #ffffff, #00c6ff, #e3b3f8);
  background-size: 600% 600%;
  animation: waveAnimation 9s ease-in-out infinite;
}

@keyframes waveAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.main-header h2 {
  font-size: 2.4rem;
  display: inline-block;
  animation: bounce 0.5s infinite alternate;
  color: #b100fc;
  font-weight: bold;
  margin: 20px;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.gallery {
  width: 550px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 20px auto;
  border: 2px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.gallery img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
  border-radius: 10px;
}

.gallery-item {
  border-radius: 10px;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 50px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.movie-contents {
  width: 100%;
  display: flex;
  margin: 40px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  letter-spacing: 2px;
}

.comment-header {
  font-weight: bold;
}

.comment-area {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-weight: bold;
  border: 2px solid #ddd;
  border-radius: 10px;
}

.cancel-button {
  width: 80px;
  height: 100%;
}
.cancel-button:hover {
  background-color: rgb(255, 186, 186);
}

.post-button {
  width: 80px;
  height: 100%;
  background-color: rgb(186, 255, 255);
  cursor: pointer;
}

.post-button:hover {
  background-color: rgb(186, 255, 186);
  cursor: pointer;
}
